<div id="<%= dom_id event %>">
  <p>
    <strong>Venue:</strong>
    <%= event.venue_id %>
  </p>

  <p>
    <strong>User:</strong>
    <%= event.user_id %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= event.title %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= event.date %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= event.description %>
  </p>

  <p>
    <strong>Image:</strong>
    <%= event.image %>
  </p>

  <p>
    <strong>Fee:</strong>
    <%= event.fee %>
  </p>

  <p>
    <strong>Genre:</strong>
    <%= event.genre %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= event.status %>
  </p>

  <p>
    <strong>Source url:</strong>
    <%= event.source_url %>
  </p>

</div>
