<div id="<%= dom_id venue %>">
  <p>
    <strong>Name:</strong>
    <%= venue.name %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= venue.address %>
  </p>

  <p>
    <strong>Instagram url:</strong>
    <%= venue.instagram_url %>
  </p>

  <p>
    <strong>Area:</strong>
    <%= venue.area %>
  </p>

</div>
